<contact-edit
  [isNew]="new"
  (onUpdate)="addContact($event)">
</contact-edit>
<mat-list>
    <mat-list-item
      *ngFor="let contact of contacts">
        <a mat-button [routerLink]="[contact.id]">
          <span *ngIf="contact.name">
            {{ contact.name }},
          </span>
          <em>{{ contact.email }}</em>
        </a>
        <div class="spacer"></div>
        <button
          mat-button
          class="action-btn"
          (click)="deleteContact(contact)">
          Delete
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="contacts.length === 0" >
      <em>Collection is empty</em>
    </mat-list-item>
</mat-list>
