.container {
  --main-color: #42a4ef;
  --selection-color: #3069AF;
  --text-color: #4b4b4b;
  position: relative;
  cursor: pointer;
}

.selected {
  box-shadow: inset 0px 0px 30px var(--selection-color);
}

ul {
  color: var(--text-color);
  margin: 0;
  padding: 5px;
  list-style: none;
  border: 1px solid var(--main-color);
  border-radius: 9px;
  box-sizing: border-box;
}

button {
  position: absolute;
  right: 5px;
  top: 5px;
}
