<form [formGroup]="form">
    <mat-form-field>
        <input
          type="email"
          required
          matInput
          formControlName="email"
          id="emailControl"
          placeholder="Email"
        >
        <mat-hint align="end">example@test.com</mat-hint>
        <mat-hint *ngIf="email.status === 'PENDING'" align="start">pending validation...</mat-hint>
        <mat-error *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
          <div *ngIf="email.errors.correctEmail">
            Invalid email
          </div>
          <div *ngIf="email.errors.isUniqueEmail">
            Email is already in use
          </div>
        </mat-error>
      </mat-form-field>

  <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="name"
        id="nameControl"
        placeholder="Name"
      >
    </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="addContact()"
        [disabled]="!form.valid">
        Send
      </button>
  </form>
