<form [formGroup]="form">
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        formControlName="fullName"
        [ngClass]="{'is-invalid': fullName.touched && fullName.invalid}"
        id="fullNameControl"
        placeholder="Full name"
      >
      <mat-hint align="end">John Smith</mat-hint>
      <mat-error *ngIf="fullName.touched && fullName.invalid">
          <div *ngIf="fullName.errors.required">
              Full name is required
          </div>
          <div *ngIf="fullName.errors.fullName">
            Full name has to be minimum 5 characters
            and have whitespace between words,
            each word has to start with capital letter
          </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        required
        matInput
        formControlName="gender"
        placeholder="Gender">
          <mat-option
            *ngFor="let gender of genders"
            [value]="gender">
              {{ gender }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input
          type="email"
          required
          matInput
          formControlName="email"
          [ngClass]="{'is-invalid': email.touched && email.invalid}"
          id="emailControl"
          placeholder="Email"
        >
        <mat-hint align="end">example@test.com</mat-hint>
        <mat-error *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
          <div *ngIf="email.errors.correctEmail">
            Invalid email
          </div>
        </mat-error>
      </mat-form-field>

    <mat-form-field>
        <input
          type="date"
          required
          matInput
          formControlName="birthdate"
          [ngClass]="{'is-invalid': birthdate.touched && birthdate.invalid}"
          id="dateControl"
          placeholder="Date of birth"
        >
        <mat-error *ngIf="birthdate.touched && birthdate.invalid">
            <div *ngIf="birthdate.errors.required">
              Date of birth is required
            </div>
            <div *ngIf="birthdate.errors.minAge">
              User has to be at least 18 years old
            </div>
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="addUser()"
        [disabled]="!form.valid">
        Send
      </button>
  </form>
