<form [formGroup]="form">
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        formControlName="fullName"
        class="form-control"
        [ngClass]="{'is-invalid': fullName.touched && fullName.invalid}"
        id="fullNameControl"
        placeholder="Full name"
      >
      <mat-hint align="end">John Smith</mat-hint>
      <mat-error *ngIf="fullName.touched && fullName.invalid">
          <div *ngIf="fullName.errors.required">
              Full name is required
          </div>
          <div *ngIf="fullName.errors.fullName">
            Full name has to be minimum 5 characters
            and have whitespace between words,
            each word has to start with capital letter
          </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input
          type="email"
          required
          matInput
          formControlName="email"
          class="form-control"
          [ngClass]="{'is-invalid': email.touched && email.invalid}"
          id="emailControl"
          placeholder="Email"
        >
        <mat-hint align="end">example@test.com</mat-hint>
        <mat-error *ngIf="email.touched && email.invalid">
            Invalid email
        </mat-error>
      </mat-form-field>

    <mat-form-field>
        <input
          type="date"
          required
          matInput
          formControlName="birthdate"
          class="form-control"
          [ngClass]="{'is-invalid': birthdate.touched && birthdate.invalid}"
          id="dateControl"
          placeholder="Date of birth"
        >
        <mat-error *ngIf="birthdate.touched && birthdate.invalid">
            Invalid date of birth
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="addUser()"
        [disabled]="!form.valid">
        Send
      </button>
  </form>
