<mat-card class="add-user-container">
    <add-user (onAdd)="addUser($event)"></add-user>
</mat-card>
<mat-list>
    <mat-list-item
      *ngFor="let user of users">
        <a mat-button [routerLink]="[user.id]">
          {{ user.fullName }}, <em>{{ user.email }}</em>
        </a>
        <button
          mat-button
          class="action-btn"
          (click)="deleteUser(user)">
          Delete
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="users.length === 0" >
      <em>Collection is empty</em>
    </mat-list-item>
</mat-list>
