<div class="row">
    <add-user class="col-12" (onAdd)="addUser($event)"></add-user>
</div>
<div class="row">
    <ul class="list-group col-sm-9">
        <li
          *ngFor="let user of users"
          (click)="openUserDetails(user.id)"
          class="list-group-item">
            <user-card-short
              [user]="user"
              (onDelete)="deleteUser($event)"
              class="col-6">
            </user-card-short>
        </li>
        <li *ngIf="users.length === 0" >
          <em>Users collection is empty</em>
        </li>
      </ul>
</div>
