<div class="row">
  <div class="col-4 offset-4">
    <form [formGroup]="form">
      <mat-form-field>
        <input
          type="email"
          required
          matInput
          formControlName="email"
          class="form-control"
          [ngClass]="{'is-invalid': email.touched && email.invalid}"
          id="emailControl"
          placeholder="Email"
        >
        <mat-hint align="end">test@example.com</mat-hint>
        <mat-error *ngIf="email.touched && email.invalid">
          Invalid email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          required
          matInput
          formControlName="password"
          class="form-control"
          id="passwordControl"
          [ngClass]="{'is-invalid': password.touched && password.invalid}"
          placeholder="Password"
        >
        <mat-error *ngIf="password.touched && password.invalid">
          Password is required
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        (click)="login()"
        [disabled]="!form.valid"
        class="btn btn-primary">
          Login
      </button>
    </form>
  </div>
</div>
