<mat-toolbar color="primary" [class.not-loggedin]="!isLoggedIn()">
    <div class="spacer"></div>
    <button mat-button [matMenuTriggerFor]="menu">
        Mailbox
    </button>
    <mat-menu #menu="matMenu">
        <button *ngFor="let mailbox of mailboxes"
        routerLinkActive="active"
        [routerLink]="['mailbox', mailbox.id, 'emails']"
        mat-menu-item>
          {{mailbox.alias}}
      </button>
    </mat-menu>
    <button (click)="logout()" mat-button>
        Logout
    </button>
</mat-toolbar>
