* {
  --main-color: #42a4ef;
  --disabled-color: #C0C0C0;
}

body {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background: var(--main-color);
  color: white;
  padding: 8px 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 7px;
}

button[disabled] {
  cursor: default;
  background: var(--disabled-color);
}
